<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buildings</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="form-container">
        <h1>Buildings</h1>
        <form action="#" method="post">
            <label for="building">Select Building:</label>
            <select id="building" name="building">
                <option value="ASB">SMOOT (ABRAHAM O) ADMIN. BUILDING - ASB</option>
                <option value="BNSN">BENSON (EZRA TAFT) BUILDING - BNSN</option>
                <option value="BRWB">BREWSTER (SAM F) BUILDING - BRWB</option>
                <option value="BRMB">BRIMHALL (GEORGE H) BUILDING - BRMB</option>
                <option value="BYUB">BYU CONFERENCE CENTER - BYUB</option>
                <option value="HRCB">CLARK (HERALD R) BUILDING ("KENNEDY CENTER" IS IN THIS BUILDING) - HRCB</option>
                <option value="JRCB">CLARK (J REUBEN) BUILDING (LAW SCHOOL) - JRCB</option>
                <option value="CB">CLYDE (W W) BUILDING - CB</option>
                <option value="CTB">CRABTREE (ROLAND A) TECHNOLOGY BLDG - CTB</option>
                <option value="ESC">EYRING (CARL F) SCIENCE CENTER - ESC</option>
                <option value="HGB">GRANT (HEBER J) BUILDING - HGB</option>
                <option value="HBLL">HAROLD B. LEE LIBRARY - HBLL</option>
                <option value="HFAC">HARRIS (FRANKLIN S) FINE ARTS CENTER - HFAC</option>
                <option value="HC">HINCKLEY (GORDON B) ALUMNI & VISITORS CENTER - HC</option>
                <option value="IPF">INDOOR PRACTICE FACILITY - IPF</option>
                <option value="JFSB">JOSEPH F. SMITH BUILDING - JFSB</option>
                <option value="KMBL">KIMBALL (SPENCER W) TOWER - KMBL</option>
                <option value="JKB">JESSE KNIGHT BUILDING - JKB</option>
                <option value="KMB">KNIGHT MANGUM BUILDING - KMB</option>
                <option value="HBLL">LEE (HAROLD B) LIBRARY - HBLL</option>
                <option value="MSRB">MAESER (KARL G) BUILDING - MSRB</option>
                <option value="MARB">MARTIN (THOMAS L) BUILDING - MARB</option>
                <option value="MB">MCDONALD (HOWARD S) BUILDING - MB</option>
                <option value="MCKB">MCKAY (DAVID O) BUILDING - MCKB</option>
                <option value="MOA">MUSEUM OF ART - MOA</option>
                <option value="RB">RICHARDS (STEPHEN L) BUILDING - RB</option>
                <option value="SFH">SMITH (GEORGE ALBERT) FIELDHOUSE - SFH</option>
                <option value="JSB">SMITH (JOSEPH) BUILDING - JSB</option>
                <option value="ASB">SMOOT (ABRAHAM 0) ADMIN. BUILDING - ASB</option>
                <option value="SNLB">SNELL (WILLIAM H.) BUILDING - SNLB</option>
                <option value="TMCB">TALMAGE (JAMES E) MATH SCI/COMPUTER BLDG - TMCB</option>
                <option value="TNRB">TANNER (N ELDON) BUlLDING - TNRB</option>
                <option value="ROTC">WELLS (DANIEL H.) BUILDING(ROTC) - ROTC</option>
                <option value="WIDB">WIDTSOE (JOHN A) BUILDING - WIDB</option>
                <option value="WSC">WILKINSON (ERNEST L) STUDENT CENTER - WSC</option>
            </select>
            <button type="submit">Select Building</button>
        </form>
    </div>
</body>
</html>

