<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>No Results Found</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

  <div class="message-container">
    <!-- Display a message informing the user they don't have access -->
    <h1>Sorry, you don't have access to this page.</h1> 
    <h1>😭</h1> <!-- A sad face emoji to emphasize the error -->
    
    <!-- Button to allow users to try again -->
    <form action="/main" method="get">
      <button type="submit">Try Again</button> <!-- Redirect to the main page -->
    </form>
  </div>

</body>
</html>

