<!-- 

This HTML file represents an unauthorized access page displayed to users 
who do not have permission to access a specific resource or page.

Structure:
- The document is a standard HTML5 file with a responsive meta tag for mobile compatibility.
- The `<head>` section includes:
  - Character encoding set to UTF-8.
  - A viewport meta tag for responsive design.
  - A title for the page: "No Results Found".
  - A link to an external CSS stylesheet located at "../static/css/styles.css".

- The `<body>` section contains:
  - A `div` with the class "message-container" that holds the main content.
  - A heading (`<h1>`) with a message informing the user they don't have access.
  - A second heading (`<h1>`) with an emoji for visual feedback.
  - A form with a "Try Again" button that redirects the user to the "/main" route using a GET request.

Purpose:
- This page is intended to provide a user-friendly message for unauthorized access 
  and offer a way to navigate back to the main page.
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>No Results Found</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  
</head>
<body>

  <div class="message-container">
    <h1>Sorry, you don't have access to this page.</h1>
    <h1>😭</h1>
    <form action="/main" method="get">
    <button type="submit">Try Again</button>
    </form>
  </div>

</body>
</html>
